[Desktop Entry]
Name=WALLPAPERNAME

X-KDE-PluginInfo-Name=WALLPAPERNAME
X-KDE-PluginInfo-Author=AUTHOR
X-KDE-PluginInfo-Email=EMAIL
X-KDE-PluginInfo-License=LGPLv3
