[Unit]
Description=VMSVGA Guest Service
BindsTo=sddm.service

[Service]
ExecStartPre=-/usr/bin/VBoxClient-all
ExecStart=/usr/bin/whoami

[Install]
WantedBy=multi-user.target
