#[Unit]
Description=VMSVGA Guest Service (resize client)
ConditionVirtualization=|oracle

[Service]
Type=simple
ExecStart=/usr/bin/VBoxDRMClient
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
