[Desktop Entry]
Name=LibreOffice Calc  ...
Comment=Enter LibreOffice Calc filename:
Comment[de]=Name der LibreOffice Calc-Datei eingeben:
Type=Link
URL=.source/soffice.ods
Icon=libreoffice-oasis-spreadsheet
