[Desktop Entry]
Name=LibreOffice Impress  ...
Comment=Enter LibreOffice Impress filename:
Comment[de]=Name der LibreOffice Impress-Datei eingeben:
Type=Link
URL=.source/soffice.odp
Icon=libreoffice-oasis-presentation
