[Desktop Entry]
Name=LibreOffice Draw  ...
Comment=Enter LibreOffice Draw filename:
Comment[de]=Name der LibreOffice Draw-Datei eingeben:
Type=Link
URL=.source/soffice.odg
Icon=libreoffice-oasis-drawing
