[Desktop Entry]
Type=Service
Name=Windows Metafile (Keneric)
Name[x-test]=xxWindws Metafilexx

X-KDE-ServiceTypes=ThumbCreator
MimeType=image/x-wmf;

X-KDE-Library=keneric
CacheThumbnail=true
