[Desktop Entry]
Type=Service
Name=ODF (OpenDocument Format) Files (Keneric)
Name[x-test]=xxODF Filesxx

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;

X-KDE-Library=keneric
CacheThumbnail=true
