[Desktop Entry]
Name=Wire
Comment=Cross platform desktop app, wrapping the wire-webapp.
GenericName=Text Editor
Exec=/usr/bin/wire-desktop %F
Icon=wire
Type=Application
StartupNotify=true
Categories=Network;
MimeType=text/plain;
