 
[Desktop Entry]
Name=OpenCASCADE Draw
Comment=OpenCASCADE DRAWEXE test harness
Exec=DRAWEXE
Icon=oce
Terminal=true
Type=Application
Version=1.0
Categories=Graphics;3DGraphics;DataVisualization;Education;Science;
StartupNotify=false