[Desktop Entry]
Categories=Qt;System;
Comment[de]=
Comment=
Comment[ru]=Установить систему
Comment[uz]=Tizimni o'rnatish
Exec=sudo tribe > /tmp/installation.log 2>&1
GenericName[de]=Installation
GenericName=Installation
GenericName[ca]=Instal.lació
GenericName[es]=Instalación
GenericName[fr]=Installation
GenericName[gl]=Instalación
GenericName[nb]=Installering
GenericName[ru]=Установка
GenericName[uz]=O'rnatish
Icon=tribe
MimeType=
Name[de]=Tribe
Name=Tribe
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
