[Desktop Entry]
Name=Liri Browser
Comment=QML based web browser
GenericName=Web Browser
Exec=liri-browser
Icon=liri-browser.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;WebBrowser;

