[Desktop Entry]
Type=Service
Actions=WriteIsoImageToUsb;
MimeType=application/x-iso;application/x-cd-image;inode/ISO-image

[Desktop Action WriteIsoImageToUsb]
Exec=isoimagewriter
Name=Write ISO to USB using IsoImageWriter
Icon=org.kde.isoimagewriter

