[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sigil
Comment=A multi-platform WYSIWYG ebook editor. It is designed to edit books in ePub format. 
Exec=sigil
Icon=sigil
Terminal=false
StartupNotify=false
Categories=Application;Office;
