[Desktop Entry]
Name=Calamares Installer 
GenericName=System Installer
Comment=Qt5 based system installer for KaOS
Exec=/usr/bin/launch-calamares.sh
Icon=installer
StartupNotify=true
Terminal=False
Type=Application
Categories=Qt;System;
