[Desktop Entry]
Name=Calamares Installer 
GenericName=System Installer
Comment=Qt5 based system installer for KaOS
Exec=sudo /usr/bin/calamares -d 
Icon=installer
StartupNotify=false
Terminal=False
Type=Application
Categories=Qt;System;
