[Desktop Entry]
Name=LyX
Comment=High level LaTeX frontend
Icon=lyx
Exec=lyx %F
TryExec=lyx
Terminal=false
Type=Application
StartupNotify=false
Categories=Office;Qt;
