[Desktop Entry]
Name=pidgin
Comment=Multi-protocol instant messaging client
Exec=pidgin
Icon=pidgin.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;Application;
