[Desktop Entry]
Name=Ladybird
Type=Application
Icon=ladybird
Categories=Network;WebBrowser;
Comment=Truly independent web browser
GenericName=Web Browser
GenericName[ar]=متصفّح وبّ
GenericName[az]=Veb Bələdçi
GenericName[bg]=Уеб браузър
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[et]=Veebilehitseja
GenericName[eu]=Web arakatzailea
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hu]=Webböngésző
GenericName[ia]=Navigator Web
GenericName[id]=Penelusur Web
GenericName[is]=Vafri
GenericName[it]=Browser web
GenericName[ka]=ვებ-ბრაუზერი
GenericName[ko]=웹 브라우저
GenericName[lt]=Saityno naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka sieciowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Веб-браузер
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcısı
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網路瀏覽器
Exec=Ladybird %u
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-mimearchive;
Terminal=false
Actions=NewTab;NewWindow;PrivateBrowsing;





