[Desktop Entry]
Name=simplebrowser
GenericName=Web Browser
Categories=Qt;Network;WebBrowser;
Exec=simplebrowser
Icon=map-globe
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=false
Terminal=false
Type=Application
