[Desktop Entry]
Name=Notepad
Comment=Very simple Qt5 text-editor
Icon=text-editor
Exec=Notepad
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;
StartupNotify=true

