[Desktop Entry]
Encoding=UTF-8
Type=wayland-session
Exec=/usr/bin/startplasmacompositor
TryExec=/usr/bin/startplasmacompositor
DesktopNames=KDE
Name=Wayland
Comment=Wayland session by KDE
X-KDE-PluginInfo-Version=5.3.95
