[Desktop Entry]
Exec=spun
Icon=system-software-update
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
Categories=KDE;System;
Name=spun
GenericName=Update Notifier
