[Desktop Entry]
Name=QtWeb
GenericName=Web Browser
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Web Browser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador Web
GenericName[fr]=Navigateur Internet
GenericName[id]=Peramban Web
GenericName[it]=Browser Web
GenericName[he]=דפדפן רשת
GenericName[ka]=ვებ ბრაუზერი
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka Internetowa
GenericName[pt]=Navegador web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Browser Web
GenericName[ru]=Веб-Браузер
GenericName[sk]=Webový prehliadač
GenericName[sr]=Веб прегледач
GenericName[sr@ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[uk]=Веб-переглядач
GenericName[zh_TW]=網頁瀏覽器
GenericName[zh_CN]=网页浏览器
GenericName[ja]=Webブラウザ
GenericName[fa]=مرورگر وب
GenericName[ar]=متصفح وِب
Comment=Fast and light web browser based on Qt
Exec=/usr/bin/qtweb
Icon=qtweb
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
