[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calibre
Comment=An e-book library management application 
Exec=calibre
Icon=calibre
Terminal=false
StartupNotify=false
Categories=Application;Office;
