[Desktop Entry]
Name=Ardour
Comment=Multitrack hard disk recorder
Exec=/opt/Ardour_x86_64-4.6.0/bin/ardour4
Icon=/opt/Ardour_x86_64-4.6.0/share/icons/ardour_icon_48px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
