[Desktop Entry]
Name=Ardour
Comment=Multitrack hard disk recorder
Exec=/opt/Ardour_x86_64-3.5-dbg/bin/ardour3
Icon=/opt/Ardour_x86_64-3.5-dbg/share/icons/ardour_icon_48px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
