[Desktop Entry]
Name=Ardour
Comment=Multitrack hard disk recorder
Exec=/opt/Ardour_x86_64-5.12.0/bin/ardour5
Icon=/opt/Ardour_x86_64-5.12.0/share/icons/ardour-app-icon_osx.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
