[Desktop Entry]
Type=Application
Name=Google Gadgets
Comment=Desktop widgets from Google
Comment[de]=Google Desktop Widgets
Exec=ggl-qt
Icon=google-gadgets
Categories=KDE;Utility;
