pkgbase = google-chrome
	pkgdesc = The popular web browser by Google (All Channels)
	pkgver = 123.0.6312.105
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	groups = network-web
	license = custom:chrome
	depends = gcc-libs
	depends = cairo
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libpng
	depends = libxslt
	depends = freetype2
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: For file dialogs in KDE
	optdepends = kwallet6: For storing passwords in KWallet
	optdepends = xdg-utils: For handling custom flags inside HOME directory
	optdepends = kde-gtk-config: For GTK integration setting into KDE Plasma
	optdepends = widevine: Plugin for viewing/streaming premium proprietary video content
	provides = google-chrome-123.0.6312.105
	provides = google-chrome-stable-123.0.6312.105
	provides = google-chrome-beta-124.0.6367.29
	provides = google-chrome-dev-125.0.6396.3
	provides = google-chrome-unstable-125.0.6396.3
	provides = libwidevinecdm.so
	provides = widevine
	options = !emptydirs
	options = !strip
	source = google-chrome-123.0.6312.105-1.x86_64.rpm::https://dl.google.com/linux/chrome/rpm/stable/x86_64/google-chrome-stable-123.0.6312.105-1.x86_64.rpm
	source = google-chrome-beta-124.0.6367.29-1.x86_64.rpm::https://dl.google.com/linux/chrome/rpm/stable/x86_64/google-chrome-beta-124.0.6367.29-1.x86_64.rpm
	source = google-chrome-dev-125.0.6396.3-1.x86_64.rpm::https://dl.google.com/linux/chrome/rpm/stable/x86_64/google-chrome-unstable-125.0.6396.3-1.x86_64.rpm
	source = Widevine-4.10.2710.0.zip::https://dl.google.com/widevine-cdm/4.10.2710.0-linux-x64.zip
	source = Chrome-Online-Agreement--Chrome-Enterprise.pdf
	source = Chrome-Service-License-Agreement--Chrome-Enterprise.pdf
	source = Google-Chrome-and-ChromeOS-Additional-Terms-of-Service.pdf
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = google-chrome
	pkgdesc = The popular web browser by Google (Stable Channel)
	install = google-chrome.install
	provides = google-chrome-123.0.6312.105
	provides = google-chrome-stable-123.0.6312.105
	options = !emptydirs
	options = !strip

pkgname = google-chrome-beta
	pkgdesc = The popular web browser by Google (Beta Channel)
	install = google-chrome-beta.install
	provides = google-chrome-beta-124.0.6367.29
	options = !emptydirs
	options = !strip

pkgname = google-chrome-dev
	pkgdesc = The popular web browser by Google (Unstable Channel)
	install = google-chrome-dev.install
	provides = google-chrome-dev-125.0.6396.3
	provides = google-chrome-unstable-125.0.6396.3
	options = !emptydirs
	options = !strip

pkgname = widevine
	pkgdesc = Google Chrome's plugin for viewing/streaming premium proprietary video content; usable on other Chromium-based web browsers
	depends = pulseaudio
