[Desktop Entry]
Comment=Global com­mu­ni­ca­tion ser­vice that users love and use fre­quently
Comment[nl]=Wereldwijde communicatie service, welke gebruikers gaarne toepassen
Exec=xdg-open https://appear.in/
Icon=preferences-web-browser-shortcuts
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
