[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-trash
Actions=bak;
#X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=application-x-trash

[Desktop Action bak]
Name=Restore backup
Name[it]=Ripristina backup
Icon=application-x-trash
Exec=filename=%f; cp %f "${filename%.*}"
