[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all
Actions=bak;
#X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=application-x-trash

[Desktop Action bak]
Name=Backup here
Name[it]=Crea copia di backup qui
Icon=application-x-trash
Exec=cp -rf %f %f.bak
