[Desktop Entry]
Comment=Chakra Code Repository
Comment[ca]=Repostiori de codi de Chakra
Comment[it]=Repository del Codice di Chakra
Comment[nl]=Chakra code Repository
Comment[ja]=Chakraコードリポジトリ
Exec=xdg-open http://www.chakra-project.org/code.html
Icon=preferences-system
Name=Code
Name[ca]=Codi
Name[it]=Codice
Name[nl]=Code
Name[ja]=コード
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
