[Desktop Entry]
Comment=Chakra Bug Tracking System
Comment[ca]=Sistema de seguiment d'errors de Chakra
Comment[it]=Sistema di tracciatura errori di Chakra
Comment[nl]=Chakra Bug Tracking System
Comment[ja]=Chakraバグ管理システム
Exec=xdg-open http://www.chakra-project.org/bugs/
Icon=kbugbuster
Name=Bugs
Name[ca]=Errors
Name[it]=Errori
Name[nl]=Bugs
Name[ja]=バグ
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
