[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/chakra-backup
Name=miniBackup
GenericName=Backup your most important KDE files
GenericName[ca]=Còpia de seguretad dels fitxers més importants
GenericName[it]=Copia di sicurezza dei file più importanti di KDE
GenericName[nl]=Backup van de meeste belangrijke KDE bestanden
X-KDE-StartupNotify=false
Icon=application-x-tarz
Terminal=false
Type=Application
Categories=Qt;System;
