[Desktop Entry]
Comment=Chakra Package ChangeLogs
Comment[ca]=Registre de canvis a paquets de Chakra
Comment[it]=Registro cambiamenti nei pacchetti di Chakra
Comment[nl]=Chakra pakket wijziging logs
Comment[ja]=Chakraパッケージの変更履歴
Exec=xdg-open http://gitorious.org/chakra-packages
Icon=utilities-log-viewer
Name=Package ChangeLogs
Name[ca]=Registre de canvis a paquets
Name[it]=Registro cambiamenti nei pacchetti
Name[nl]=Pakket wijziging logs
Name[ja]=パッケージの変更履歴
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
