[Desktop Entry]
Categories=Chakra;
Comment=Chakra Webpage
Comment[ca]=Lloc web de Chakra
Comment[it]=Homepage di Chakra
Comment[nl]=Homepage van Chakra
Comment[ja]=Chakraのホームページ
Exec=xdg-open http://www.chakra-project.org
GenericName[ca]=
GenericName=
Icon=chakra-shiny
MimeType=
Name=Homepage
Name[ca]=Lloc web
Name[nl]=Homepage
Name[ja]=ホームページ
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
