[Desktop Entry]
Comment=Chakra Forums
Comment[ca]=Forums de Chakra
Comment[it]=Forum di Chakra
Comment[nl]=Chakra forums
Comment[ja]=Chakraフォーラム
Exec=xdg-open http://www.chakra-project.org/bbs/
Icon=system-users
Name=Forums
Name[it]=Forum
Name[nl]=Forums
Name[ja]=フォーラム
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
