[Desktop Entry]
Comment=Donations for Chakra
Comment[ca]=Donacions a Chakra
Comment[it]=Donazioni per Chakra
Comment[nl]=Donatie voor Chakra
Comment[ja]=Chakraに寄付
Exec=xdg-open http://www.chakra-project.org/donate.html
GenericName[ca]=
GenericName=
Icon=face-wink
MimeType=
Name=Donations
Name[ca]=Donacions
Name[it]=Donazioni
Name[nl]=Donatie
Name[ja]=寄付
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Chakra;