[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Icon=icon-iw
Actions=calc

[Desktop Action calc]
Name=Verify ISO write
Icon=icon-iw
Exec=checkiso %U

