[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Icon=gtkhash
Actions=calc

[Desktop Action calc]
Name=Compute md5sum and sha1sum
Icon=gtkhash
Exec=md5sha1calc %U