[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Icon=lock-insecure
Actions=calc

[Desktop Action calc]
Name=Compute md5sum and sha256sum
Icon=lock-insecure
Exec=md5sha1calc %U
