# Version 0.1.1
#
[Desktop Entry]
X-SuSE-translate=true
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
ServiceTypes=all/allfiles
Actions=wholePath;attachMail;
Type=Service
X-KDE-Submenu=Copy Path
X-KDE-Submenu[ca]=Copia el camí
X-KDE-Submenu[de]=Pfad kopieren
X-KDE-Submenu[el]=Αντιγραφή Διαδρομής
X-KDE-Submenu[es]=Copiar ruta
X-KDE-Submenu[fr]=Copie de chemin
X-KDE-Submenu[it]=Copia Percorso
X-KDE-Submenu[ja]=パスをコピー

[Desktop Action wholePath]
Name=copy whole path
Name[ca]=Copia el camí­ sencer
Name[de]=kopiere Pfad
Name[el]=Αντιγραφή Ολόκληρης Διαδρομής
Name[es]=Copiar ruta completa
Name[fr]=copier le chemin complet
Name[it]=copia l'intero percorso
Name[ja]=フルパスをコピー
Icon=klipper
Exec=qdbus org.kde.klipper /klipper setClipboardContents %U

[Desktop Action attachMail]
Name=attach to kmail
Name[ca]=Adjunta al kmail
Name[de]=kmail Anhang
Name[el]=Επισύναψη στο Kmail
Name[es]=Adjuntar en kmail
Name[fr]=envoyer avec kmail
Name[it]=allega a kmail
Name[sv]=Bifoga till KMail
Name[ja]=kmailに添付
Icon=internet-mail
Exec=kmail --attach %U
