[Desktop Entry]
Type=Service
Actions=WriteIsoImageToUsb;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-iso;application/x-cd-image;inode/ISO-image

[Desktop Action WriteIsoImageToUsb]
Exec=rosa-imagewriter %F
Name=Write to USB using ROSA ImageWriter
Icon=imagewriter
