[Desktop Entry]
Type=Application
Categories=System;Utility;Archiving;
X-KDE-RootOnly=true
Exec=RosaImageWriter %F
Icon=icon-rosa
Name=Rosa Imagewriter
GenericName=USB key writer 
X-KDE-SubstituteUID=true
Version=1.0 
