[Desktop Entry]
Name=Firefox
GenericName=Web Browser
GenericName[es]=Navegador Web
Icon=firefox-icon.png
Type=Application
Categories=Application;Network;
MimeType=text/html
Encoding=UTF-8
Exec=firefox %u
Terminal=false
MultipleArgs=false

