[Desktop Entry]
Name=Minilens 
GenericName=Puzzle Game 
Comment=2D platform puzzle in post-apocalyptic Earth
Exec=/usr/bin/launch-minilens.sh
Icon=minilens
StartupNotify=true
Terminal=False
Type=Application
Categories=Game;
