[Desktop Entry]
Exec=/usr/bin/dolphin admin:///
Icon=folder-red
Name=Dolphin Admin
GenericName=Opens Dolphin with sudo permissions
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
